img {
    max-width: 100%;
}

.radio, .checkbox {
    margin: 0px;
    padding: 10px 0px;
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 8px;
    min-height: 0px;
    font-size: 14px;
    color: #000;
    line-height: 20px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0px;
    margin-left: -20px;
    border-radius: 2px;
    border: 1px solid #e5e6e7;
    background: #fff;

    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0px;
    margin-left: -18px;
    padding-left: 3px;
    padding-top: 0px;
    color: #fff;
    font-size: 10px;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: 0;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #000;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
    outline: 0px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}

.checkbox input[type="checkbox"]:checked + label::before,
.checkbox input[type="radio"]:checked + label::before {
    background-color: #2C8F7B;
    border: 1px solid #2C8F7B;
}

.checkbox + .checkbox,
.radio + .radio {
    margin-top: 0px;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.switch {
    height: 20px;
}

.switch .onoffswitch {
    display: inline-block;
    height: 20px;
    text-align: left;
}

.input-datepicker .dropdown-menu {
    background: #416586;
    border-radius: 3px;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #fff;
    outline: 0;
    left: auto;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
}

.input-datepicker .dropdown-handler {
    background: #fff;
    width: 34px;
    font: normal normal normal 14px/1 FontAwesome;
    cursor: pointer;
    font-size: inherit;
    text-rendering: auto;
}

.input-datepicker .dropdown-handler:before {
    display: inline-block;
    content: "\f073";
}

.input-datepicker.open .dropdown-handler {

}

.page-heading h2 {
    margin: 22px 0px 6px;
}

.form-table {
    margin: 0px -10px;
    table-layout: fixed;
    min-width: 100%;
    vertical-align: top;
}

.form-table > tbody > tr > td {
    padding: 0px 10px;
    vertical-align: top;
}

.form-table > tbody > tr > td.hasTable {
    padding: 0px;
}

.form-table .form-table {
    table-layout: fixed;
    margin: 0px;
    width: 100%;
}

.form-table.auto {
    table-layout: auto;
}

.form-table.inner {
    table-layout: fixed;
    margin: 0px;
    width: 100%;
}

ul.tabs {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.tabs li {
    background: #fff;
    display: block;
    float: left;
    border: 1px #eceff3 solid;
    border-left-style: none;
}

.tabs li a {
    display: block;
    height: 32px;
    text-align: center;
    line-height: 32px;
    padding: 0px 15px;
    text-decoration: none;
    color: #416586;
    font-size: 12px;
}

.tabs li:first-child {
    border-left-style: solid;
}

.tabs li.active {
    background: #416586;
    border-color: #416586;
}

.tabs li.active a {
    color: #fff;
}

.tabs.tabs-large a {
    height: 34px;
    line-height: 34px;
    font-weight: 700;
    font-size: 14px;
}

.tabs.tabs-small a {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}

.tabs.tabs-small.tabs-view li a {
    padding: 0px 8px;
}

.tabs-small .dot-icon {
    font-size: 9px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 6px;
}

.tabs.tabs-form li a {
    padding: 0px 10px;
}

.tabs li [class^="ico-"],
.tabs li [class*=" ico-"] {
    vertical-align: top;
    margin-top: 7px;
    margin-right: 5px;
}

#side-menu .label {
    vertical-align: top;
    margin-top: 2px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.tfinder-input {
    position: relative;
}

.ui-autocomplete.ui-menu {
    /*    display: block !important;*/
    margin-bottom: 100px;
    background: #416586;
    color: #fff;
}

.ui-autocomplete.ui-menu .ui-menu-item {
    line-height: 14px;
    padding: 8px 5px;
}

.ui-autocomplete.ui-menu .ui-state-focus,
.ui-autocomplete.ui-menu .ui-state-active {
    margin: 0px;
    background: #32516E;
}

.required label:after {
    content: "*";
    color: #ed5565;
}

.form-group .help-block {
    display: none;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.form-group.has-error .help-block-error {
    display: inline-block;
    margin: 0;
    padding: 0px 5px;
    background: #ed5565;
    color: #fff;
}

.bootstrap-select > .dropdown-toggle {
    background: #fff;
    border: 1px solid #e5e6e7;
    border-radius: 0;
}

.ibox-content.sk-loading {
    position: relative;
}

.ibox-content.sk-loading > .sk-spinner {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
    right: 0;
    z-index: 2000;
}

.ibox-content > .sk-spinner {
    display: none;
}

.ibox-content.sk-loading:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.table-list {

}

.table-list > thead > tr > th,
.table-list > tbody > tr > th,
.table-list > tfoot > tr > th,
.table-list > thead > tr > td,
.table-list > tbody > tr > td,
.table-list > tfoot > tr > td {
    vertical-align: middle;
}

.input-datepicker {
    width: 100%;
}

.input-datepicker .dropdown-handler {
    width: 34px;
}

.input-datepicker.open .dropdown-handler {

}

.input-datepicker .ui-datepicker {
    padding: 4px 15px;
    width: auto;
    border: 0;
}

.input-datepicker .ui-datepicker td {
    padding: 4px 4px;
}

.input-datepicker .ui-datepicker td span,
.input-datepicker .ui-datepicker td a {
    font-size: 12px;
    text-align: center;
    width: 22px;
    height: 22px;
    line-height: 22px;
    padding: 0px;
    border: 0;
}

.input-datepicker .ui-datepicker td a:hover {

}

.input-datepicker .ui-datepicker td a:active {
    background: #fff;
    color: #4B6D8C;
}

.input-datepicker .ui-datepicker td.ui-datepicker-current-day span,
.input-datepicker .ui-datepicker td.ui-datepicker-current-day a {
    background: #1ab394;
    color: #fff;
    font-weight: 700;
    text-shadow: none;
}

.input-datepicker .ui-datepicker th {
    font-weight: 400;
    width: 22px;
    font-size: 12px;
    text-transform: uppercase;
}

.input-datepicker .ui-datepicker-header a {

    font-size: 14px;
    font-family: Arial;
    cursor: pointer;
}

.ui-datepicker-title select {
    background: #fff;
    border-color: #fff;
    font-size: 14px;
    -webkit-appearance: none;
    border: none;
}

.ui-datepicker-title select::-ms-expand {
    display: none;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45px;
}

.input-datepicker .ui-datepicker-header .ui-icon {
    text-indent: -100px;
}

.input-datepicker .ui-datepicker .ui-datepicker-prev-hover {
    top: 2px;
    left: 2px;
}

.input-datepicker .ui-datepicker .ui-datepicker-next-hover {
    top: 2px;
    right: 2px;
}

.input-datepicker .ui-datepicker td.ui-datepicker-unselectable span {
    color: #6A859E;
}

.has-success .input-group-addon {
    border-color: #1ab394;
    color: inherit;
}

.has-error .input-group-addon {
    border-color: #ed5565;
    color: inherit;
}

.input-uppercase {
    text-transform: uppercase;
}

.auth-form-ctr {
    width: 400px;
    margin: 100px auto 0;
}

.auth-form-header {
    padding-left: 15px;
}

.auth-form-header .item {
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: underline;
}

.auth-form-header .item.active {
    border: 1px #e7eaec solid;
    border-bottom: none;
    background: #fff;
    color: #676a6c;
    font-weight: 700;
    text-decoration: none;
}

.auth-form-content {
    background: #fff;
    border: 1px #e7eaec solid;
    padding: 25px 30px;
}

.field-regform-accept .control-label {
    color: #000;
}